



/* 1 image overlay css */


.container1 {
  position: relative;
  width: 70%;
}

.image {
  display: block;
   width: 130%; /*  image ki height ais par depend karti ha   */
  height: auto;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(228, 104, 104);
  overflow: hidden;
   width: 129%;  /* caption ki width decide karnay kay liya  */
  margin-left: 12px;
  height: 0;
  transition: .2s ease;
}

.container1:hover .overlay1 {
  height: 20%;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
































/*          -------------------------------------- 2 image overlay css         ----------------------------------------------------  */



.container2 {
  position: relative;
   width: 70%;   /*       image ki width ko control karnay kay liya   */
}

.image {
  display: block;
   width: 130%; /*  image ki height ais par depend karti ha   */
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(228, 104, 104);
  overflow: hidden;
   width: 129%;  /* caption ki width decide karnay kay liya  */
  /* margin-left: 12px; */
  height: 0;
  transition: .2s ease;
}

.container2:hover .overlay2 {
  height: 20%;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





/*          -------------------------------------- 3 image overlay css         ----------------------------------------------------  */



.container3 {
  position: relative;
  width: 70%;
}

.image {
  display: block;
   width: 130%; /*  image ki height ais par depend karti ha   */
  height: auto;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(228, 104, 104);
  overflow: hidden;
   width: 129%;  /* caption ki width decide karnay kay liya  */
  /* margin-left: 12px; */
  height: 0;
  transition: .2s ease;
}

.container3:hover .overlay3 {
  height: 20%;
}

.text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}














/*          -------------------------------------- 4 image overlay css         ----------------------------------------------------  */



.qcontainer4 {
  position: relative;
  width: 70%;
}

.image {
  display: block;
   width: 130%; /*  image ki height ais par depend karti ha   */
  height: auto;
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(228, 104, 104);
  overflow: hidden;
   width: 129%;  /* caption ki width decide karnay kay liya  */
  /* margin-left: 12px; */
  height: 0;
  transition: .2s ease;
}

.qcontainer4:hover .overlay4 {
  height: 20%;

}

.text4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
